
<div class="navigation">
    <nav class="navbar navbar-expand bg-green mt">
        <div class="container">
            <a href="index" class="l text-decoration colorFFF">Mini Market</a>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="index" class="nav-link colorFFF">Login</a>
            </li>
            <li class="nav-item">
                <a href="register" class="nav-link colorFFF">Register</a>
            </li>
        </ul>
    </nav>
</div>