<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('./css/style'); %>
        <%- include('./css/css'); %>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
                crossorigin="anonymous">
            <title>Document</title>
</head>

<body>

    <%- include('Nav')%>
        <div class="container">
            <div class="row">

                <div class="col-lg-3">
                    <div class="hero__categories my-3">
                        <div class="hero__categories__all bg-green">
                            <span class="colorFFF">All departments</span>
                        </div>
                        <ul>
                            <li class="colorFFF"><a href="" class="text-decoration color000">Food</a></li>
                            <li class="colorFFF"><a href="" class="text-decoration color000">Drinks</a></li>
                            <li class="colorFFF"><a href="" class="text-decoration color000">School supplies</a></li>
                            <li class="colorFFF"><a href="" class="text-decoration color000">Personal items</a></li>
                            <li class="colorFFF"><a href="" class="text-decoration color000">Miscellaneous goods</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hero__categories my-4">
                        <div class="hero__categories__all bg-green">
                            <span class="colorFFF">Choice</span>
                        </div>

                        <li class="useul">

                            <div class="wrapper">
                                <header>
                                    <h2>Price Range</h2>
                                    <p>Use slider or enter min and max price</p>
                                </header>
                                <div class="price-input">
                                    <div class="field">
                                        <span>Min</span>
                                        <input type="number" class="input-min" />
                                    </div>
                                    <div class="separator">-</div>
                                    <div class="field">
                                        <span>Max</span>
                                        <input type="number" class="input-max" />
                                    </div>
                                </div>
                                <div class="slider">
                                    <div class="progress"></div>
                                </div>
                                <div class="range-input">
                                    <input type="range" class="range-min" min="0" max="10000" value={data1}
                                        onChange={getdata1} step="100" />
                                    <input type="range" class="range-max" min="0" max="10000" value={data2}
                                        onChange={getdata2} step="100" />
                                </div>
                            </div>

                        </li>
                    </div>
                </div>
                <div class="col-lg-9 my-4">

                    <div class="hero__item set-bg imagebanner">
                        <div class="hero__text">
                            <span class="colorgreen">Mini Mart</span>
                            <h2 class="color000">FRESH <br />100% Organic</h2>
                            <p>Product on sela dirly on bottom</p>
                            <a href="#" class="btn btn-success">SHOP NOW</a>
                        </div>
                    </div>
                    <div class="row">

                        <div class="titall">
                            <h2>Dirl sela!</h2>
                        </div>

                        <div class="col my-5 action on">
                            <div class="item">
                                <div class="item-item">
                                    <span>This is a product</span>
                                </div>
                            </div>
                        </div>
                        <div class="col my-5 action">
                            <div class="item">
                                <div class="item-item">
                                    <span>This is a product</span>
                                </div>
                            </div>
                        </div>
                        <div class="col my-5 action">
                            <div class="item">
                                <div class="item-item">
                                    <span>This is a product</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tital">
                        <h2>Author Product</h2>
                    </div>
                    <div class="minitital">
                        <ul>
                            <li /*onClick={Show(e.target.value)} value={"All"}* />All</li>
                            <li /*onClick={Show(e.target.value)} value={"Food"} * />Food</li>
                            <li /*onClick={Show(e.target.value)} value={"Drinks"} * />Drinks</li>
                            <li /*onClick={Show(e.target.value)} value={"Schoolsupplies"} * />School supplies</li>
                            <li /*onClick={Show(e.target.value)} value={"Personalitems"} * />Personal items</li>
                            <li /*onClick={Show(e.target.value)} value={"Miscellaneousgoods"} * />Miscellaneous goods
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-sm">
            <div class="row height290">
                <div class="col my-5">
                    <div class="iteme">
                    </div>
                    <div class="detail">
                        <p class="span">This is a product<br /> <strong>500 Bath</strong></p>
                    </div>
                </div>
                <div class="col my-5">
                    <div class="iteme">
                    </div>
                    <div class="detail">
                        <p class="span">This is a product<br /> <strong>500 Bath</strong></p>
                    </div>
                </div>
                <div class="col my-5">
                    <div class="iteme">
                    </div>
                    <div class="detail">
                        <p class="span">This is a product<br /> <strong>500 Bath</strong></p>
                    </div>
                </div>
                <div class="col my-5">
                    <div class="iteme">
                    </div>
                    <div class="detail">
                        <p class="span">This is a product<br /> <strong>500 Bath</strong>
                        </p>
                    </div>
                </div>

            </div>

        </div>
        <div class="container-sm">
            <div class="row height290">
                <div class="col my-5">
                    <div class="iteme">
                    </div>
                    <div class="detail">
                        <p class="span">This is a product<br /> <strong>500 Bath</strong></p>
                    </div>
                </div>
                <div class="col my-5">
                    <div class="iteme">
                    </div>
                    <div class="detail">
                        <p class="span">This is a product<br /> <strong>500 Bath</strong></p>
                    </div>
                </div>
                <div class="col my-5">
                    <div class="iteme">
                    </div>
                    <div class="detail">
                        <p class="span">This is a product<br /> <strong>500 Bath</strong></p>
                    </div>
                </div>
                <div class="col my-5">
                    <div class="iteme">
                    </div>
                    <div class="detail">
                        <p class="span">This is a product<br /> <strong>500 Bath</strong>
                        </p>
                    </div>
                </div>

            </div>

        </div>

</body>

</html>